libraries/thirdparty/*
*.md

addons-l10n/*/*.json
!addons-l10n/en/*.json

_locales/*/messages.json
!_locales/en/messages.json

userscript/addons-l10n/*/*.json
!userscript/addons-l10n/en/*.json

userscript/_locales/*/messages.json
!userscript/_locales/en/messages.json

.github/*
!.github/workflows/minify/*.mjs
!.github/workflows/minify.yml
