<template><div class=badge v-if=shouldShow :class="{
      'tooltip': tagInfo.tooltipText,
      'blue': tagInfo.color === 'blue',
      'yellow': tagInfo.color === 'yellow',
      'red': tagInfo.color === 'red',
      'darkred': tagInfo.color === 'darkred',
      'green': tagInfo.color === 'green',
      'darkgreen': tagInfo.color === 'darkgreen',
      'purple': tagInfo.color === 'purple'
      }">{{ tagName }} <span class=tooltiptext v-if=tagInfo.tooltipText>{{ tagTooltip }}</span></div></template>